@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.search--button {
  background-color: #00a3e0;
  color: white;
  width: 5rem;
  height: 3rem;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;

}

.search--button:focus {
  outline: none;
}

.search--button:hover {
  background-Color: #4bb6dd;
  cursor: pointer;
}